/* Основна стилізація для компонента Home */
main {
    display: flex; /* Використовуємо flexbox для розташування елементів по горизонталі */
    justify-content: space-between; /* Розподіляє елементи по всій ширині, створюючи простір між ними */
    align-items: center; /* Центрує елементи по вертикалі */
    padding: 65px; /* Встановлюємо відступи з усіх боків */
  }
  
  /* Контейнер для тексту, щоб обмежити ширину */
  .text-container {
    max-width: 50%; /* Максимальна ширина контейнера з текстом 50% */
  }
  
  /* Стилізація заголовка */
  h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 55px; /* Розмір шрифту заголовка */
    font-weight: 600; /* Жирний шрифт для заголовка */
    margin-bottom: 10px; /* Відступ знизу від заголовка до наступного елемента */
  }
  
  /* Стилізація абзацу */
  p {
    font-family: 'Rubik', sans-serif;
    line-height: 1.75;
    color: #433838;
    font-size: 18px; /* Розмір шрифту тексту */
    margin-bottom: 35px; /* Відступ знизу між текстом і кнопкою */
  }
  
  /* Стилізація кнопки */
  .get-started {
    font-family: 'Rubik', sans-serif;
    display: block;
    width: 200px;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: #F53838;
    color: white;
    border: 2px solid #F53838; /* Постійна обводка */
    border-radius: 5px;
    margin:0;
    box-shadow: 0 4px 10px rgba(230, 18, 18, 3); /* Постійна тінь */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Плавний перехід */
  }
  
  
  /* Стилізація кнопки при наведенні */
  .get-started:hover {
    background-color: #D02A2A; /* Темніший червоний колір кнопки при наведенні */
  }
  
  /* Стилізація зображення */
  .image-first-page {
    max-width: 45%; /* Максимальна ширина зображення 45% */
    height: auto; /* Автоматичне збереження пропорцій зображення */
  }